/*
ChocolateChip-UI
Desktop version of ChUI.css

Copyright 2011 Robert Biggs: www.chocolatechip-ui.com
License: BSD
Version: 2.1.1
*/
uibutton:hover, 
uibutton[ui-implements=done]:hover {
	background-image: 
		-webkit-linear-gradient(top,
			#7d88a5, #58698c 25%, #3a4e78 50%, #253c6a 50%, #273f6d 75%, #273f6d);
	-webkit-tap-highlight-color: transparent;
}
tabbar uibutton:hover {
	background: rgba(255, 255, 255, 0.15) !important;
}
uibutton[ui-kind=icon].disabled:hover {
	background: none;
}
uibutton[ui-kind=icon]:hover {
    background-image:
      -webkit-gradient(radial,50% 50%,0,50% 50%,20,
            color-stop(0%,rgba(213,231,247,0.9)),
            color-stop(100%,rgba(213,231,247,0)));
}
uibutton[ui-implements=done].disabled:hover {
    border: solid 1px #2c344b;
    border-color: #2c344b #2d54b9 #1a49b5 #2d54b9; 
    background-image:
      -webkit-linear-gradient(top, #7a9eec, #5785e5 25%, #3470e0 50%, #2461dd 50%, #2465dd 75%, #2461de);
}
uibutton[ui-implements=done]:hover {
    border-color: #484e59 #54617d #4c5c7a #54617d; 
    background-image: 
      -webkit-linear-gradient(top, #7d88a5, #58698c 25%, #3a4e78 50%, #253c6a 50%, #273f6d 75%, #273f6d);
}
uibutton[ui-implements=delete].disabled:hover {
    border: solid 1px #4b353a;
    border-color: #4b353a #832936 #1a49b5 #832936; 
    background-image:
      -webkit-linear-gradient(top, #c66572, #b63849 25%, #ac1a2e 50%, #a40018 50%, #a40018 75%, #7d1022);
}
uibutton[ui-implements=delete]:hover {
    border-color: #484e59 #54617d #4c5c7a #54617d; 
    background-image: 
      -webkit-linear-gradient(top, #7d88a5, #58698c 25%, #3a4e78 50%, #253c6a 50%, #273f6d 75%, #273f6d);
}
uibutton.disabled:hover {
	background-image: 
		-webkit-linear-gradient(top, #92a1bf, #798aad 25%, #6276a0 50%, #556a97 50%, #566c98 75%, #546993);
}
uibutton[ui-implements=back].disabled:hover:before {
    content: '';
    display: block;
    z-index: 0;
    background-image: 
        -webkit-linear-gradient(left top, #92a1bf 10%, #798aad 30%, #6276a0 51%, #556a97 51%, #566c98 75%, #546993); 
    border-left: solid 1px #54617D;
    border-bottom: solid 1px #9AA5BB; 
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 4px;
    height: 22.2px;
    width: 22.2px;
    display: inline-block;
    -webkit-transform: rotate(45deg) skew(6deg, 6deg);
    -webkit-mask-image: 
        -webkit-linear-gradient(left bottom, #000000, #000000 50%, transparent 50%, transparent);
    position: absolute;
    left: -8px;
    top: 3px;
    -webkit-background-clip: content;
}
uibutton[ui-implements=back]:hover:before {
    background-image: 
        -webkit-linear-gradient(left top, #7d88a5 10%, #58698c 30%, #3a4e78 51%, #253c6a 51%, #273f6d 75%, #273f6d); 
}
uibutton[ui-implements=next].disabled:hover:before  {
    content: '';
    display: block;
    z-index: 0;
    background-image: 
        -webkit-linear-gradient(left top, #92a1bf 10%, #798aad 30%, #6276a0 51%, #556a97 51%, #566c98 75%, #546993); 
    border-right: solid 1px #484e59;
    border-top: solid 1px #484e59;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 4px;
    height: 22.2px;
    width: 22.2px;
    display: inline-block;
    -webkit-transform: rotate(45deg) skew(6deg, 6deg);
    -webkit-mask-image: 
        -webkit-linear-gradient(right top, #000000, #000000 50%, transparent 50%, transparent);
    position: absolute;
    right: -8px;
    top: 2.5px;
    -webkit-background-clip: content;
}
uibutton[ui-implements=next]:hover:before {
    background-image: 
        -webkit-linear-gradient(left top, #7d88a5 10%, #58698c 30%, #3a4e78 51%, #253c6a 51%, #273f6d 75%, #273f6d); 
}
segmentedcontrol > uibutton:hover, 
segmentedcontrol > uibutton.selected:hover {
    background-image: 
        -webkit-linear-gradient(top, #2a55b1, #6297f2);
    color: #fff;
    border-color: #193a7f;
}
segmentedcontrol > uibutton.disabled:hover {
    background-image: 
        -webkit-linear-gradient(top, #fbfbfb, #bdbdbd);
    color: #6b6b6b;
    border-color: #9a9a99;
    cursor: auto;
}
navbar > segmentedcontrol > uibutton:hover, 
navbar > segmentedcontrol > uibutton.selected:hover {
    background-image: 
        -webkit-linear-gradient(top, #7d88a5, #58698c 25%, #3a4e78 50%, #253c6a 50%, #273f6d 75% #273f6d) !important;
    color: #fff;
    border-color: #193a7f;
}
navbar > segmentedcontrol > uibutton.disabled:hover,
toolbar > segmentedcontrol > uibutton.disabled:hover {
    background-image: 
        -webkit-linear-gradient(top, #92a1bf, #798aad 25%, #6276a0 50%, #556a97 50%, #566c98 75%, #546993) !important;  
    color: #fff;
    border-color: #484e59 #54617d #4c5c7a #54617d;
}
uibutton[ui-kind='rounded-rectangle']:hover,
uibutton[ui-kind='rounded-rectangle'][ui-implements=attention]:hover {
    color: #fff;
    background-image:
        -webkit-linear-gradient(top, #2a99f1, #2886eb 50%, #2874e5);
}
uibutton[ui-kind='rounded-rectangle'][ui-implements=attention]:hover {
    color: #fff;
}
uibutton[ui-kind='rounded-rectangle'].disabled:hover {
    color: #3c6094;
    background-image: none;
    cursor: auto;
}
uibutton[ui-kind='rounded-rectangle'][ui-implements=attention].disabled:hover {
    color: #000;
    background-image: none;
    cursor: auto;
}
uibuttonn[ui-kind='rounded-rectangle'][ui-implements=attention]:hover, 
uibuttonn[ui-implements=attention][ui-kind='rounded-rectangle']:hover {
    border-color:a7abae !important;
}
uibutton[ui-kind=action].disabled:hover {
    margin: 20px 10px;
    min-width: 110px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    height: 52px;
    border-radius: 12px;
    background-image: 
        -webkit-linear-gradient(top, rgba(234,234,234,0.7), rgba(195,195,195,0.7) 50%, rgba(166,166,166,0.7) 50%, rgba(167,167,167,0.80)); 
    color: #000;
    font: bold 16px/20px Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    padding: 0px 11px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
uibutton[ui-kind=action]:hover {
    background-image: 
        -webkit-linear-gradient(top, rgba(135,148,203,0.7), rgba(34,56,159,0.7) 50%, rgba(0,27,145,0.7) 50%, rgba(2,59,152,0.7)); 
    color: #fff;
    text-shadow: 0 1px 1px #000;
}
uibutton[ui-kind=action][ui-implements=cancel].disabled:hover {
    background-image: 
        -webkit-linear-gradient(top, rgba(74,74,74,0.7), rgba(20,20,20,0.7) 50%, rgba(2,2,2,0.7) 50%, rgba(14,14,14,0.7)); 
    color: #fff;
    text-shadow: 0 1px 1px #000;
}
uibutton[ui-kind=action][ui-implements=cancel]:hover {
    background-image: 
        -webkit-linear-gradient(top, rgba(135,148,203,0.7), rgba(34,56,159,0.7) 50%, rgba(0,27,145,0.7) 50%, rgba(2,59,152,0.7));  
    color: #fff;
    text-shadow: #000 0 1px 0;
}
uibutton[ui-kind=action][ui-implements=delete].disabled:hover {
    background-image: 
        -webkit-linear-gradient(top, rgba(255,124,151,0.7), rgba(255,74,89,0.7) 50%, rgba(255,0,4,0.7) 50%, rgba(255,62,27,0.7)); 
    color: #fff;
    text-shadow: #000 0 1px 0;
}
uibutton[ui-kind=action][ui-implements=delete]:hover {
    background-image: 
        -webkit-linear-gradient(top, rgba(135,148,203,0.7), rgba(34,56,159,0.7) 50%, rgba(0,27,145,0.7) 50%, rgba(2,59,152,0.7)); 
    color: #fff;
}
uibutton[ui-kind=action].green.disabled:hover {
    background-image: 
        -webkit-linear-gradient(top, rgba(79,156,74,0.7), rgba(54,127,35,0.7) 50%, rgba(0,113,0,0.7) 50%, rgba(0,150,0,0.7)); 
    color: #fff;
    text-shadow: 0 1px 1px #000;
}
uibutton[ui-kind=action].green:hover {
    background-image: 
        -webkit-linear-gradient(top, rgba(135,148,203,0.7), rgba(34,56,159,0.7) 50%, rgba(0,27,145,0.7) 50%, rgba(2,59,152,0.7)); 
    color: #fff;
}
uibutton[ui-kind=action].gold.disabled:hover {
    background-image: 
        -webkit-linear-gradient(top, rgba(255,217,0,0.7), rgba(255,185,0,0.7) 50%, rgba(255,138,0,0.7) 50%, rgba(255,165,0,0.7)); 
    color: #000;
    text-shadow: 0 1px 0 #ccc;
}
uibutton[ui-kind=action].gold:hover {
    background-image: 
        -webkit-linear-gradient(top, rgba(135,148,203,0.7), rgba(34,56,159,0.7) 50%, rgba(0,27,145,0.7) 50%, rgba(2,59,152,0.7)); 
    color: #fff;
    text-shadow: 0 1px 1px #000;
}
uibutton[ui-kind=action][ui-implements=done].disabled:hover {
    background-image: 
        -webkit-linear-gradient(top, rgba(123,159,235,0.7), rgba(54,111,226,0.7) 50%, rgba(32,87,225,0.7) 50%, rgba(24,87,224,0.7)); 
    color: #fff;
    text-shadow: 0 1px 1px #000;
}
uibutton[ui-kind=action][ui-implements=done]:hover {
    background-image: 
        -webkit-linear-gradient(top, rgba(135,148,203,0.7), rgba(34,56,159,0.7) 50%, rgba(0,27,145,0.7) 50%, rgba(2,59,152,0.7)); 
    color: #fff;
}
uibutton.ui-custom-tint.disabled:hover, 
uibutton[ui-implements=done].ui-custom-tint.disabled:hover, 
uibutton[ui-implements=delete].ui-custom-tint.disabled:hover {
	background-image: 
		-webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(30,30,30,.5) 50%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.5));
    border: solid 1px #808080;
    border-color: #6f6f6f #4d4d4d #676767 #616161;
}
uibutton.ui-custom-tint:hover, 
uibutton[ui-implements=done].ui-custom-tint:hover, 
uibutton[ui-implements=delete].ui-custom-tint:hover {
	background-image: 
		-webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,.5) 50%, rgba(0,0,0,.6) 50%, rgba(255,255,255,.2));
}
uibutton[ui-implements=back].ui-custom-tint:hover:before {
	background-image: 
		-webkit-linear-gradient(left top, rgba(0,0,0,.1) 10%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.6) 50%, rgba(255,255,255,.2) 90%);
}
uibutton[ui-implements=next].ui-custom-tint:hover:before {
	background-image: 
		-webkit-linear-gradient(left top, rgba(0,0,0,.1) 10%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.6) 50%, rgba(255,255,255,.2) 90%);
}
segmentedcontrol > uibutton.ui-custom-tint.disabled:hover, 
navbar > segmentedcontrol > uibutton.ui-custom-tint.disabled:hover, 
toolbar > segmentedcontrol > uibutton.ui-custom-tint.disabled:hover, 
navbar > segmentedcontrol > uibutton.disabled.ui-custom-tint:hover, 
toolbar > segmentedcontrol > uibutton.disabled.ui-custom-tint:hover {
	border: solid 1px #484E59;
	background-image: 
		-webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(30,30,30,.5) 50%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.5)) !important;
	color: #fff;
}
segmentedcontrol > uibutton.ui-custom-tint:hover, 
segmentedcontrol > uibutton.ui-custom-tint.selected:hover {
	border: solid 1px #484E59;
	background-image: 
		-webkit-linear-gradient(top, rgba(0,0,0,.35), rgba(0,0,0,.35) 50%, rgba(50,50,50,.35) 50%, rgba(255,255,255,.35)) !important;
	color: #fff;
}
uibutton[ui-kind=action].ui-custom-tint.disabled:hover {
	background-image: 
		-webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(30,30,30,.5) 50%, rgba(0,0,0,.5) 50%, rgba(0,0,0,.45));
	color: #fff;
	text-shadow: 0 1px 1px #000;
}
uibutton[ui-kind=action].ui-custom-tint:hover {
	background-image: 
		-webkit-linear-gradient(top, rgba(0,0,0,.45), rgba(0,0,0,.5) 50%, rgba(30,30,30,.5) 50%, rgba(255,255,255,.5));
	color: #fff;
	text-shadow: 0 1px 1px #000;
}
*[ui-contains='action-buttons'] button[ui-kind=action].disabled:hover {
	width: 94%;
	margin: 20px auto;
	margin: 20px auto;
	-webkit-box-flex: 1 !important;
}
tableview > tablecell[href]:hover,
tableview[ui-implements='detail-menu'] > tablecell:hover,
tableview[ui-implements='selection-list'] > tablecell:hover {
    background-image: 
        -webkit-linear-gradient(top, #4286f5, #194fdb);
    color: #fff;
	cursor: pointer;
}
tableview > tablecell[href]:hover > *,
tableview[ui-implements='detail-menu'] > tablecell:hover > * {
	color: #fff !important;
}
tableview > tablecell[href]:hover > span,
tableview[ui-implements='detail-menu'] > tablecell:hover > span {
    color: #fff;
}
tablecell[ui-implements=disclosure][href]:hover:after {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 48 48' id='svg2' xml:space='preserve'><g   transform='matrix(0.76271185,0,0,0.76271185,19.695775,18.208103)' id='layer2'><path   d='M -2.3429035,-12.884216 -8.4213641,-6.8057547 4.8587627,6.4744128 -8.4214285,19.754506 -2.3429188,25.833035 10.937222,12.552872 17.015686,6.4743806 10.937219,0.39595097 -2.3429035,-12.884216 z' id='rect3730'   style='fill:#fff;fill-opacity:1;stroke:none' /></g></svg>")
}
tableview > tablecell.ui-no-hover:hover > celldetail {
	font-size: 12px;
    color: #4c5f70 !important;
    line-height: 16px;
}
tableview.ui-show-delete-disclosures > tablecell:hover, 
tableview.ui-show-move-indicator > tablecell:hover {
	background: #fff !important;
}
tableview.ui-show-delete-disclosures > tablecell:hover celltitle, 
tableview.ui-show-move-indicator  > tablecell:hover celltitle {
	color: #000 !important;
}
tableview.ui-show-delete-disclosures > tablecell:hover > cellsubtitle, 
tableview.ui-show-move-indicator > tablecell[ui-draggable]:hover > cellsubtitle {
    color: #586b96 !important;
}
tableview[ui-tablecell-order=centered].ui-show-delete-disclosures > tablecell:hover > celltitle, tableview[ui-tablecell-order=centered].ui-show-move-indicator > tablecell[ui-draggable]:hover > celltitle {
    color: #586B96 !important;
}
tableview.ui-show-delete-disclosures > tablecell:hover > cellsubtitle, 
tableview.ui-show-move-indicator > tablecell:hover > cellsubtitle, tableview[ui-tablecell-order=centered].ui-show-move-indicator > tablecell[ui-draggable]:hover > cellsubtitle {
    color: #000 !important;
}
tableview[ui-tablecell-order=stacked].ui-show-delete-disclosures > tablecell:hover > cellsubtitle, 
tableview[ui-tablecell-order=stacked].ui-show-move-indicator > tablecell:hover > cellsubtitle {
	color: #666 !important;
}
tableview[ui-tablecell-order=stacked].ui-show-delete-disclosures > tablecell:hover > celldetail, 
tableview[ui-tablecell-order=stacked].ui-show-move-indicator > tablecell:hover > celldetail {
    color: #4c5f70 !important;
}
tableview[ui-tablecell-order=stacked].ui-show-delete-disclosures > tablecell:hover > celldatetime, 
tableview[ui-tablecell-order=stacked].ui-show-move-indicator > tablecell:hover > .celldatetime, 
tableview[ui-tablecell-order=stacked].ui-show-delete-disclosures > tablecell:hover > cellvalue, 
tableview[ui-tablecell-order=stacked].ui-show-move-indicator > tablecell:hover > .cellvalue  {
	color: #2671d8 !important;
}
stack[ui-kind=alphabetical-list] span:hover {
	cursor: pointer;
}
stack[ui-kind=alphabetical-list]:hover {
	background-color: rgba(0,0,0,0.25);
}
stack[ui-kind=alphabetical-list]:hover span {
	color: #fff;
}
popup toolbar[ui-placement=bottom] > uibutton[ui-kind=action]:hover {
	background-image: 
		-webkit-linear-gradient(top, #70747f, #424857 50%, #171e30 50%, #222839);
	text-shadow: black 0px 1px 0px;
}
tableview[ui-implements=selection-list] tablecell.selected:hover > checkmark {
	color: #fff;
}
switchcontrol:hover > thumb {
	background-image: none;
}
switchcontrol[ui-kind=generic]:hover > thumb {
	-webkit-box-shadow: inset 0 2px 1px #fff, inset 0 -2px 1px #fff;
	background-image: none;
}
tabbar > uibutton[ui-implements=tab].disabled:hover {
   background: none;
}
tabbar > uibutton[ui-implements=tab].disabled:hover > icon {
    display: block;
    margin: 0;
    height: 30px;
    width: 30px;
    margin-bottom: -8px;
    background-image: 
    	-webkit-linear-gradient(top, #A6A6A6, #8C8C8C 50%, #606060) !important;
    -webkit-box-shadow: #000 0 1px 0px;
    -webkit-mask-size: 30px 30px;
    background-size: 30px 30px;
}
tabbar > uibutton[ui-implements=tab].disabled:hover > icon,
tabbar > uibutton[ui-implements=tab].disabled:hover {
    cursor: default;
}
tabbar > uibutton[ui-implements=tab]:hover > icon {
    background-image: 
    	-webkit-linear-gradient(-85deg, #DDE9F0, #79B2EC 60%, #2E91E5 70%, #3FC5F8) !important;
    -webkit-box-shadow: #000 0 1px 0px;
    color:#68B3DA;
}
tablecell:hover spinner > uibutton > label {
	color: #000 !important;
}
spinner > uibutton:hover {
	background-image: 
		-webkit-linear-gradient(top, #7d88a5, #58698c 25%, #3a4e78 50%, #253c6a 50%, #273f6d 75%, #273f6d);
	-webkit-tap-highlight-color: transparent;
}