.DS_Store
.svn
._*
.Spotlight-V100
.Trashes
npm-debug.log
Thumbs.db
chui
data
demo
examples-android
examples-ios
examples-win
node_modules
images
pics
rtl-images
rtl-examples-android
rtl-examples-ios
rtl-examples-win
rtl-demo
!src/**
src/**/.DS_Store