<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Tableviews 1</title>
    <link rel="stylesheet" href="../chui/chui.css">
    <style>
    	tablecell[ui-usage="image"] > img {
			margin-top: 8px;
			margin-bottom: 40px;
		}
		tableview[ui-tablecell-order="stacked"] > tablecell[ui-usage="image"] > img + celltitle,
		tableview[ui-tablecell-order="stacked"] > tablecell[ui-usage="image"] > img + celltitle + cellsubtitle {
			width: 75% !important;
		}
		#view2 tablecell> celltitle {
			width: 95% !important;
		}
		#view2 tablecell ul > li {
			list-style: square;
		}
		body.landscape #view1 tableview[ui-tablecell-order="stacked"] > tablecell > cellsubtitle, 
		body.landscape #view1 tableview[ui-tablecell-order="stacked"] > tablecell > celldetail {
			font-size: 12px !important;
		}
		#view2 tablecell > celldetail  {
			font-size: 16px !important;
			line-height: 20px;
		}
    </style>
    <script src="../chui/chocolatechip.js"></script>
    <script src="../chui/chui.js"></script>
    <script>
    
		var data = null;
		
        $(function() {
			$.templates.customers =
			    "<% customers.forEach(function(customer){ %> \
			        <tablecell>\
			            <celltitle><%= customer.firstName %> <%= customer.lastName %></celltitle>\
			            <cellsubtitle><%= customer.address %></cellsubtitle>\
			            <celldetail><%= customer.description %></celldetail>\
			        </tablecell>\
			    <% }); %>";
			$.templates.recipes_ingredients =
			    "<cellsubtitle>\
                    <div>Ingredients</div>\
                    <ul>\
                        <% recipe.ingredients.forEach(function(ingredient) { %>\
                            <li><%= ingredient %></li>\
                        <% }); %>\
                    </ul>\
                </cellsubtitle>";
            $.templates.recipes_directions =
                "<celldetail>\
                    <div>Directions</div>\
                    <ol>\
                        <% recipe.directions.forEach(function(direction) { %>\
                            <li><%= direction %></li>\
                        <% }); %>\
                    </ol>\
                </celldetail>";
			$.templates.recipes = 
				"<% recipes.forEach(function(recipe) { %>\
					<tablecell>\
						<celltitle><%= recipe.title %></celltitle>\
						<% /* A conditional check for recipe ingredients: */ %>\
                        <% if (!!recipe.ingredients) { %>"
                            + $.templates.recipes_ingredients +
                        "<% } %>\
						<% /* A conditional check for recipe directions: */ %>\
						<% if (!!recipe.directions) { %>"
                            + $.templates.recipes_directions +
						"<% } %>\
					</tablecell>\
				<% }); %>";
			$.templates.songs = 
				"<% songs.forEach(function(song) { %>\
					<% if (song.genre === 'Latin') { %>\
                        <tablecell ui-usage='image'>\
                            <img src='<%= song.image %>'>\
                            <celltitle><%= song.title %></celltitle>\
                            <cellsubtitle><%= song.artist %></cellsubtitle>\
                            <cellsubtitle><%= song.album %></cellsubtitle>\
                            <cellsubtitle><%= song.year %></cellsubtitle>\
                            <cellsubtitle><%= song.genre %></cellsubtitle>\
                        </tablecell>\
					<% } %>\
				<% }); %>";
				
			$.app.xhr("data.json", {
				successCallback : function() {
					data = $.responseText;
					$.processJSON(data);
				}
			});
			
			$("#view1 tableview").empty().insert($.template("customers", data));
			$.UIScrollers[$("#view1 > subview > scrollpanel").getAttribute("ui-scroller")].refresh();
			$("#view2 tableview").empty().insert($.template("recipes", data));
			$.UIScrollers[$("#view2 > subview > scrollpanel").getAttribute("ui-scroller")].refresh();
			$("#view3 tableview").empty().insert($.template("songs", data));
			$.UIScrollers[$("#view3 > subview > scrollpanel").getAttribute("ui-scroller")].refresh();
			$.UIDeleteTableCell("#view3 tableview", "#view3 navbar");
		});
    </script>
    
</head>
<body>
	<app ui-background-style="striped">
		<view id="main" ui-background-style="striped" ui-navigation-status="current">
			<navbar>
				<h1>Tableview</h1>
			</navbar>
			<subview ui-associations="withNavBar">
				<scrollpanel>
					<tableview>
						<tablecell href="#view1" ui-implements="disclosure">
							<celltitle>Customers</celltitle>
						</tablecell>
						<tablecell href="#view2" ui-implements="disclosure">
							<celltitle>Recipes</celltitle>
						</tablecell>
						<tablecell href="#view3" ui-implements="disclosure">
							<celltitle>Songs</celltitle>
						</tablecell>
					</tableview>
				</scrollpanel>
			</subview>
		</view>
		<view id="view1" ui-navigation-status="upcoming" ui-background-style="vertical-striped">
			<navbar>
				<uibutton ui-implements="back" ui-bar-align="left">Back</uibutton>
				<h1>First View</h1>
			</navbar>
			<subview ui-associations="withNavBar">
				<scrollpanel>
					<tableview ui-kind="grouped" ui-tablecell-order="stacked">
						<tablecell>
							<celltitle>This is One</celltitle>
							<cellsubtitle>a subtitle to bore you</cellsubtitle>
							<celldetail>Lorem ipsum dolor sit amet. Requitor empremitum salarium epsiquantis.</celldetail>
						</tablecell>
					</tableview>
				</scrollpanel>
			</subview>
		</view>
		<view id="view2" ui-navigation-status="upcoming" ui-background-style="vertical-striped">
			<navbar>
				<uibutton ui-implements="back" ui-bar-align="left">Back</uibutton>
				<h1>Second View</h1>
			</navbar>
			<subview ui-associations="withNavBar">
				<scrollpanel>
					<tableview ui-kind="grouped" ui-tablecell-order="stacked">
						<tablecell>
							<celltitle>This is Two</celltitle>
							<cellsubtitle>a typical subtitle</cellsubtitle>
							<celldetail>Lorem ipsum dolor sit amet. Requitor empremitum salarium epsiquantis.</celldetail>
						</tablecell>
					</tableview>
				</scrollpanel>
			</subview>
		</view>
		<view id="view3" ui-navigation-status="upcoming" ui-background-style="vertical-striped">
			<navbar>
				<uibutton ui-implements="back" ui-bar-align="left">Back</uibutton>
				<h1>Third View</h1>
			</navbar>
			<subview ui-associations="withNavBar">
				<scrollpanel>
					<tableview ui-kind="grouped" ui-tablecell-order="stacked">
						<tablecell>
							<celltitle>This is THREE!</celltitle>
							<cellsubtitle>another dumb subtitle</cellsubtitle>
							<celldetail>Lorem ipsum dolor sit amet. Requitor empremitum salarium epsiquantis.</celldetail>
						</tablecell>
					</tableview>
				</scrollpanel>
			</subview>
		</view>
	</app>
</body>
</html>