<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-startup-image" href="startup.png">
	<link rel="apple-touch-icon" href="chocolatechip-icon.png"/>
	<link rel="shortcut icon" href="favicon.ico">
	<title>ChocolateChip Mobile</title>
	<link rel="stylesheet" href="../chui/chui.css">
	<style type="text/css">
		/* Local Styles Here */
		view#main {
			background-color: rgba(192,132,96,0.25);
		}
		view#main tableview > tablecell {
			background-color: rgba(255,255,255,0.75);
		}	
	</style>
	<script src="../chui/chocolatechip.js" type="text/javascript"></script>
	<script src="../chui/chui.js" type="text/javascript"></script>
	<script type="text/javascript">
		/* Local JavaScript Here */
		$.ready(function() {
		    // Make an Ajax request for JSON data.
			var data = null;
			$.templates.customers = 
			"<% for (var i = 0; i < customers.length; i++) { %>\
				<tablecell>\
					<celltitle><%= customers[i].firstName %> <%= customers[i].lastName %></celltitle>\
				  	<cellsubtitle><%= customers[i].address  %></cellsubtitle>\
					<celldetail><%= customers[i].description %></celldetail>\
				</tablecell>\
			<%  } %>";
			$.app.xhr("customers.json", {
				successCallback: function() {
					data = $.responseText;
					$.processJSON(data);
				}
			});
		});
		/*
			The following block is necessary to allow the XHR request to complete and inject the JSON file into the document's head. This act causes the browser to parse the JSON object into memory as a readable JSON object, otherwise it would remain a string and we would not be able to parse it for data.
		*/
		$.ready(function() {
			// Process the template $.template.customers with JSON data in the variable "data".
			// This is read from an Ajax call to an external JSON object in json.json.
			$.templateCache.customers = $.template("customers", data);
			// insert the results of the parsed template into the tableview."
			$("#main tableview:first-of-type").insert($.templateCache.customers);
		});
	</script>
</head>
<body>
	<app>
		<view id="main" ui-background-style="slanted-left" ui-navigation-status="current">
		<navbar class="ui-custom-tint"><h1>$.Template</h1</navbar>
			<subview id="subview1" ui-associations="withNavBar">
				<scrollpanel>
					<tableview ui-tablecell-order="stacked" ui-kind="grouped">
						<tableheader>
							This is an example of an Ajax call retrieving JSON data and processing it with a template. 
						</tableheader>
					</tableview>
				</scrollpanel>
			</subview>
		</view>
	</app>
</body>
</html>
