<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>Example of using $.Template</title>
	<link rel="apple-touch-startup-image" href="/Splash.png" />
	<link rel="apple-touch-icon" href="app.png">
	<link rel="stylesheet" href="../chui/chui.css">
	<style type="text/css">
		view#main {
			background-color: rgba(192,132,96,0.25);
		}
		view#main tableview > tablecell {
			background-color: rgba(255,255,255,0.75);
		}
	</style>
	<script type="text/javascript" src="../chui/chocolatechip.js"></script>
	<script type="text/javascript" src="../chui/chui.js"></script>
	<script type="text/javascript">
		$.ready(function() {
			var data = null;
			$.templates.customers =
			"<% for (var i = 0; i < customers.length; i++) { %>\
				<tablecell>\
				  <celltitle><%= customers[i].firstName %> <%= customers[i].lastName %></celltitle>\
				  <cellsubtitle><%= customers[i].address  %></cellsubtitle>\
				  <celldetail><%= customers[i].description %></celldetail>\
				</tablecell>\
			<%  } %>";
			$.app.xhr("customers.json", {
				successCallback: function() {
					data = $.responseText;
					$.processJSON(data);
				}
			});
		});
		$.ready(function() {
			// Process the template $.template.customers with JSON data in the variable "data".
			// This is read from an Ajax call to an external JSON object in json.json.
			$.templateCache.customers = $.template("customers", data); 
			// insert the results of the parsed template into the div with id "template_1_output."
			$("#main tableview:first-of-type").insert($.templateCache.customers);	
		});
</script>
</head>

<body>
<app>
	<view id="main" ui-background-style="slanted-left">
		<navbar class="ui-custom-tint"><h1>$.Template</h1</navbar>
		<subview ui-associations="withNavBar">
			<scrollpanel>
				<tableview ui-tablecell-order="stacked" ui-kind="grouped">
				
				</tableview>
			</scrollpanel>
		</subview>
	</view>
</app>
</body>
</html>
