
.tabBar {
    height: 50px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(0.02, #545454), color-stop(0.04, #3b3b3b), color-stop(0.5, #1d1d1d), color-stop(0.51, #000));
    font-size: 10px;
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, sans-serif;
    text-align: center;
}

.tabBar-tab {
    position: relative;
    padding: 4px 0 0 0;
    margin: 3px 3px 3px 3px;
    display:block;
    text-align: center;
    color: #fff;
    position: relative;
}

.tab_bar span {
    width: 76px;
    height: 39px;
    padding: 4px 0 0 0;
    display: block;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    margin: 3px auto 0 auto;
    background: rgba(255, 255, 255, 0.15);
    -webkit-border-radius: 3px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

.tabBar-tab-active {
    background: rgba(255, 255, 255, 0.15);
    -webkit-border-radius: 3px;
    padding: 4px 0 0 0;
    margin: 3px 3px 3px 3px;
    display:block;
    text-align: center;
    color: #fff;
    position: relative;
}

.tabBar-tab span {
    font-size: 9px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tabBar-tab-active span {
    font-size: 9px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.tabBar-tab icon {
    background-image: 
    	-webkit-gradient(linear, 0% 0%, 0% 100%, 
    		from(#A6A6A6), 
    		to(#606060), 
    		color-stop(.5,#8C8C8C));
    -webkit-box-shadow: #000 0 1px 0px;
}

.tabBar-tab-active icon {
    background: 
    	-webkit-gradient(linear, 38% 0%, 60% 70%, 
    		from(#dde9f0), to(#3fc5f8), 
    		color-stop(.6,#79b2ec),
    		color-stop(.7,#2e91e5));
    -webkit-box-shadow: #000 0 1px 0px;
    color:#68B3DA;
    border:none;
}
        