/* Colors */
@appBkColor: #f2f0f0;
@appTint: #81cfeb;
@buttonBorderColor: #cbcbcb;
@buttonTopColor: #e5e5e5;
@buttonTextColor: #000;
@buttonTextHoverColor: #fff;
@buttonBoxShadow: #666;
@buttonHoverColor: lighten(@appTint, 10%);
@backButtonColor: #000;
@backButtonHoverColor: #fff;
@switchBorder: #979797;
@switchBkgnd: #fafafa;
@switchThumbBkgnd: #cecece;
@switchThumbBorder: #919191;
@switchOnTop: lighten(@appTint, 12%);
@switchOnColor: darken(@appTint, 30%);
@navBkgnd: #e2e2e2;
@toolbarBkgnd: @navBkgnd;
@tabbarBkgnd: @navBkgnd;
@navBorderColor: #acacac; 
@listBorderColor: #b6b6b6;
@listTitleColor: #4d4d4d;
@listSwitchedTitle: #33b5e5;
@listAsideColor: #666;
@listDetailColor: #9d9d9d;
@showDetailColor: #999;
@subTextColor: #707070;
@selectedListItem: #000;
@deletionIndicatorColor: darken(@appTint, 20);
@deleteButtonBorderColor: desaturate(@appTint, 10);
@spinnerIndicatorColor: #fff;
@stepperLabelBkgnd: #fff;
@popupBkgnd: #e3e3e3;
@popoverHighlight: lighten(@appTint, 8%);
@popoverBkgnd: #f5f5f5;
@popoverShadow: #000;
@maskColor: #000;
@spitlayoutNavBorder: #a7a7aa;
@splitlayoutBorders: #C8C8C7;
@masterListSelected: #d9d9d9;
@sheetBkgnd: rgba(240,240,240,.9);
@sheetHandle: #999;
@tabbarColor: #828283;
@tabbarButtonBorder: #666;
@rangeBkgnd: #525252;
@inputBorderColor: #888;
/* End Colors */
.flexBlock () {
   /* New syntax */
   display: -webkit-flex;
   -webkit-flex-direction: column;
   -webkit-justify-content: center;
   -webkit-align-items: flex-start;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   /* Old syntax */
   display: -webkit-box;
   -webkit-box-align: center;
   -webkit-box-pack: start;
   -webkit-box-orient: vertical;
}
.flexBlockCentered () {
   /* old flex box */
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-box-pack: center;
   -webkit-box-align: center;
   /* new flex box */
   display: -webkit-flex;
   -webkit-flex-direction: column;
   -webkit-justify-content: center;
   -webkit-align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
.flexBlockHorizontal () {
   /* Old syntax */
   display: -webkit-box;
   -webkit-box-orient: horizontal;
   -webkit-box-pack: start;
   -webkit-box-align: start;
   /* new flex box */   
   display: -webkit-flex;
   -webkit-flex-direction: row;
   -webkit-box-align: start;
   -webkit-align-items: flex-start;
   -webkit-justify-content: flex-start;
   display: flex;
   flex-direction: row;
   box-align: start;
   align-items: flex-start;
   justify-content: flex-start;
}
.flexBlockHorizontalCentered () {
   /* old flex box */
   display: -webkit-box;
   -webkit-box-orient: horizontal;
   -webkit-box-align: center;
   -webkit-box-pack: start;
   /* new flex box */
   display: -webkit-flex;
   -webkit-flex-direction: row;
   -webkit-align-items: center;
   -webkit-justify-content: flex-start;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
}
.transition(@prop: all, @duration: .25s, @ease:ease-out) {
   -webkit-transition: @arguments;
   transition: @arguments;
}
.transform(...) {
   -webkit-transform: @arguments;
   transform: @arguments;
}
.imageMask (@bkcolor, @svg) {
   background-color: @bkcolor;
   -webkit-mask-position: 50% 50%;
   -webkit-mask-size: 90% 90%;
   -webkit-mask-repeat: no-repeat;
   -webkit-mask-image: url(@svg);
}
.flex() {
   -webkit-box-flex: 1 !important;
   -webkit-flex: 1 !important;
   webkit-flex: 1 !important;
}
.size(@height, @width) {
   height: @height;
   width: @width;
}
.overflowYScroll() {
   overflow-x: hidden;
   overflow-y: auto;
}
/* End LESS definitions */

html, body {
   padding: 0;
   margin: 0;
   position: absolute;
   top: 0; right: 0;
   bottom: 0; left: 0;
   overflow: hidden;
   -webkit-font-smoothing: subpixel-antialiased;
}
body {
   /* Change background color for your app: */
   background-color: @appBkColor;
   font: normal 14px/18px Roboto, SegoeWP, HelveticaNeue, Sans-serif;
   -webkit-user-select: none;
   -webkit-tap-highlight-color: transparent;
}
/* ==============================
   Article (view) styles         
   ============================== */
article {
   position: absolute;
   top: 52px; right: 0;
   bottom: 0; left: 0;
   .transition(all, .15s);
   .overflowYScroll;
   -webkit-overflow-scrolling: touch;
   .flexBlock;
}
/* ==============================
   Article navigation states     
   ============================== */
.current {
   .transform(translate3d(0,0,0));
   visibility: visible;
}
.next {
   .transform(translate3d(105%,0,0));
   visibility: hidden;
}
.previous {
   .transform(translate3d(-100%,0,0));
   visibility: hidden;
}
/* ==============================
   Slide Out
   ============================== */
.slide-out {
   position: absolute;
   top: 52px;
   left: 0;
   bottom: 0;
   background-color: @appBkColor;
   z-index: 111111111;
   width: 100%;
   visibility: hidden;
   .transform(translate3d(-100%,0,0));
   .transition;
   .overflowYScroll;
   -webkit-overflow-scrolling: touch;
   .flexBlock;
}
.slide-out > section {
   .flex;
   padding-bottom: 100px;
   .overflowYScroll;
   width: 100%;
}
.slide-out.open {
   visibility: visible;
   .transform(translate3d(0,0,0));
}
.button.slide-out-button {
   position: absolute;
   z-index: 1111111;
   top: 5px;
   left: 15px;
   .size(35px, 35px);
   box-sizing: border-box;
   padding: 0 !important;
}
.button.slide-out-button::before {
   content: '';
   display: block;
   .size(35px, 35px);
   .imageMask (@buttonTextColor, 'data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22100px%22%20height%3D%22100px%22%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%3Crect%20x%3D%2225.833%22%20y%3D%2220%22%20width%3D%2264.167%22%20height%3D%227.666%22%2F%3E%3Crect%20x%3D%2225.833%22%20y%3D%2246.136%22%20width%3D%2264.167%22%20height%3D%227.667%22%2F%3E%3Crect%20x%3D%2225.833%22%20y%3D%2272.271%22%20width%3D%2264.167%22%20height%3D%227.666%22%2F%3E%3Crect%20x%3D%229.833%22%20y%3D%2220%22%20width%3D%227.667%22%20height%3D%227.666%22%2F%3E%3Crect%20x%3D%229.833%22%20y%3D%2246%22%20width%3D%227.667%22%20height%3D%227.666%22%2F%3E%3Crect%20x%3D%229.833%22%20y%3D%2272.271%22%20width%3D%227.667%22%20height%3D%227.666%22%2F%3E%3C%2Fsvg%3E');
}
body.slide-out-app > article,
body.slide-out-app > nav:not(:first-of-type) {
   display: none !important;
}
body.slide-out-app > article.show,
body.slide-out-app > nav.show  {
   display: block !important;
   z-index: 100;
}
.slideout-header {
   background-color: @appBkColor !important;
   border-bottom: none !important;
}
.slideout-header h2 {
   margin-left: 0;
   color: @listTitleColor !important;
}
/* ==============================
   Scrollers
   ============================== */
.scroller-vertical,
.scroller-horizontal {
   .flex;
   padding-bottom: 100px;
   .overflowYScroll;
   -webkit-overflow-scrolling: touch;
}
.scroller-horizontal {
   overflow-y: hidden;
   overflow-x: auto;
}
article > section,
.scroller-vertical {
   padding-top: 10px;
   padding-bottom: 100px;
   min-height: 100%;
   width: 100%;
}
article > section > :last-child::after {
   margin-bottom: 100px;
}
/* ==============================
   Horizontal Panels
   ============================== */
.vertical, li.comp > aside.vertical {
   /* Old syntax */
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-box-pack: start;
   -webkit-box-align: start;
   /* New syntax */
   display: -webkit-flex;
   -webkit-flex-direction: column;
   -webkit-justify-content: flex-start;
   -webkit-align-items: flex-start;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

.horizontal {
   .flexBlockHorizontal;
}
.horizontal.centered {
   .flexBlockHorizontalCentered;
}
/* ==============================
   Nav bars                      
   ============================== */
#global-nav {
   background-color: @navBkgnd;
   overflow: hidden;
   border-bottom: solid 1px @navBorderColor;
   box-shadow: 0 1px 1px @navBorderColor;
}
nav {
   height: 50px;
   box-sizing: border-box;
   .flexBlockHorizontalCentered;
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   .transition(opacity, .5s, ease-in);
   padding: 0 16px;
   vertical-align: middle;
}
nav > h1 {
   text-align: left;
   display: inline-block;
   margin: 0 20px 0 0;
   .flex;
   font: normal 16pt/36pt Roboto, SegoeWP, HelveticaNeue, Sans-serif;
   position: relative;
   z-index: -1;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
nav > a.button {
   position: relative;
}
nav > h1 + a.button {
   margin: 0;
   position: absolute;
   right: 16px;
}

/* ==============================
   Lists                         
   ============================== */
.list {
   list-style: none;
   margin: 16px 16px 0;
   padding: 0;
   background-color: @appBkColor;
}
.list > li {
   padding: 13px 9px 13px 9px;
   .transition(all, .3s);
   position: relative;
   background-color: @appBkColor;
   font-size: 12pt;
   border-bottom: solid 1px @listBorderColor;
}
.list > li + li {

}
.list > li.show-detail::after {
   content: 'i';
   display: block;
   .size(20px, 22px);
   border-radius: 20px;
   border: solid 1px @showDetailColor;
   color: @showDetailColor;
   font: bold 14px/0 Roboto, SegoeWP, HelveticaNeue, Sans-serif;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 10px 8px;
   position: absolute;
   top: 10px;
   right: 16px;
}
h2 + .list {
   margin-top: 0;
   border-top: none;
}
/* ==============================
   List Footer
   ============================== */
.list ~ p {
   margin: 10px 16px 0;
}
.list ~ p + p {
margin-top: 5pt;
}
.list > li[data-goto]:hover, 
.list > li[data-goto].touched,
li[data-show-article]:hover,
li[data-show-article].touched,
.list.select > li:hover {
   cursor: pointer;
   background-color: @appTint;
}
/* ==============================
   list title & subtitle         
   ============================== */
.list > li > h3, 
.list > li > h4 {
   width: 80%;
   font-weight: 200;
   margin: 0;
}
.list > li h3 {
   font-size: 16pt;
   line-height: 20pt;
   margin-bottom: 2px;
}
.list > li h4 {
   line-height: 14pt;
   color: @subTextColor;
}
.list > li > h4, 
.list > li > div > h4,
.list > li > p,
.list > li > div > p {
   font-size: 13pt;
   line-height: 16pt;
   margin: 0;
}
.list > li > p,
.list > li > div > p {
   font-size: 13pt;
   line-height: 16pt;
}
.list > li p + p {
   margin-top: 6px;
}
.list + .button.action {
   margin-top: 40px;
}
/* ==============================
   List detail                   
   ============================== */
.list > li > p {
   margin: 6px 0px;
   font-size: 13pt;
   line-height: 16pt;
   color: @listAsideColor;
}
/* List title */
section h2 {
   font: normal 11pt/12pt Roboto, SegoeWP, HelveticaNeue, Sans-serif;
   color: @listTitleColor;
   margin: 26px 16px 6px 16px;
   padding-left: 9px;
   text-transform: uppercase;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   border-bottom: solid 3px @listBorderColor;
   padding-bottom: 6px;
}
/* Display header as is */
section h2.normal-case {
   text-transform: none;
}
/* Allow header to wrap */
section h2.wrap {
   white-space: normal;
}
/* ==============================
   comp List Items               
   ============================== */
li.comp {
   display: -webkit-box;
   -webkit-box-orient: horizontal;
   -webkit-box-align: stretch;
   -webkit-direction: row;
   -webkit-align-items: stretch;
   padding-bottom: 0;
}
li.comp > div {
   .flex;
   padding: 0 0 10px 0;
}
li.comp > div:first-child {
   padding: 8px 0 10px 0;
}
li.comp > div > h3,
li.comp > div > h4 {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-family: Roboto, SegoeWP, HelveticaNeue, Sans-serif;
   font-weight: 200;
}
li.comp.wrap > div > h3,
li.comp.wrap > div > h4 {
   white-space: wrap;
   overflow: visible;
}
.list > li.comp > div > h3 {
   line-height: 20pt;
   margin: 0 0 10px 0;
}
li.comp > div > h4 {
   margin: 0;
}
.list > li > aside > h4 {
   margin: 0;
   font-weight: normal;
   color: @listAsideColor;
}
li.comp > aside {
   display: -webkit-box;
   -webkit-box-pack: center;
   -webkit-box-align: center;
   -webkit-justify-content: center;
   -webkit-align-items: center;
   justify-content: center;
   align-items: center;
   padding: 0 0 10px 0;
}
li.comp > aside:first-child {
   -webkit-box-align: start;
   -webkit-align-items: flex-start;
   align-items: flex-start;
}
li.comp > aside > label, li.comp > aside > span {
   display: inline-block;
   margin-left: 6px;
}
li.comp > aside > .nav {
   display: none;
}
li.comp > aside > .nav::after {
   display: none;
}
li.comp > aside > .show-detail {
   display: inline-block;
   margin-bottom: -4px;
}
li.comp > aside > .show-detail::after {
   content: 'i';
   display: block;
   .size(20px, 22px);
   border-radius: 20px;
   border: solid 1px @showDetailColor;
   color: @showDetailColor;
   font: bold 14px/0 Roboto, Times, serif;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 10px 8px;
   float: right;
   margin: -20px 0 0 0;
}
li.comp > aside:first-child {
   margin-right: 10px;
}
li.comp > aside:last-child {
   padding: 0 16px 10px 10px;
}
li.comp > div + aside {
   margin-right: -16px;
}
li.comp:last-of-type > aside:last-child {
   border: none;
}
aside > span.counter, aside > span.date-time {
   font-weight: normal;
   color: @listAsideColor;
   font-size: 12pt;
}
li.comp > div:first-child {
   min-width: 48%;
}
li.comp > div:first-child + aside > h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60%;
}
li.comp > div:first-child + aside > h4:nth-child(1) {
   max-width: 100% !important;
}
p {
   color: @subTextColor;
   font-size: 13pt;
   line-height: 16pt;
}
@media only screen and (max-device-width : 320px) and (orientation : portrait) {
   li.comp > aside > h4 {
      max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}
/* ==============================
  Switched List Items            
   ============================== */
li.switched {
   display: -webkit-box;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: reverse;
   box-direction: reverse;
}
li.switched h3 {
   width: auto;
   font-size: 13pt;
   line-height: 24pt;
   color: @listSwitchedTitle;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
li.switched h4 {
   width: 48%;
   text-align: right;
   margin-right: 10px;
   font-size: 14pt;
   line-height: 24pt;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 50%;
}


/* ============================== 
   Select List
   ============================== */
.list.select li > input {
   display: none;
}
.list.select li:hover {
   background-color: @appTint;
}
.list.select li.selected,
.list.select li.touched {
   background: none !important;
}
.list.select li.selected *,
.list.select li:hover *,
.list.select li.touched * {
   color: @selectedListItem;
}
.list.select li::after {
   content: '';
   display: block;
   float: right;
   margin-top: -25px;
   .size(20px, 20px);
   .transition(all, 0.125s,  ease-in-out);
   opacity: 1;
   border: solid 2px #525252;
   border-radius: 15px;
}
.list.select li:hover::after,
.list.select li.selected::after {
   background-color: @appTint;
   .transition(all, 0.125s,  ease-in-out);
   opacity: 1;
   box-shadow: 0 0 0 3px @appTint, inset 0 0px 0px 3px #fff;
}


/* ============================== 
   Deletable Lists
   ============================== */
.deletion-indicator {
   display: -webkit-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 2px 5px 13px 1px;
   .size(24px, 24px);
   border: solid 2px @buttonBorderColor;
   position: absolute;
   top: 14px;
   left: -40px;
   .transition;
   cursor: pointer;
}
.isDesktopChrome .deletion-indicator:hover,
li.selected > .deletion-indicator {
    box-shadow: 0 0 6px 2px @deletionIndicatorColor !important;
    color: @deletionIndicatorColor !important;
}
li.selected > .deletion-indicator::before {
   content: '';
   display: block;
   .size(24px, 24px);
   .imageMask (@deletionIndicatorColor, 'data:image/svg+xml;utf8,%3Csvg%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%20100%20100%22%20id%3D%22svg3080%22%3E%3Cdefs%20id%3D%22defs3086%22%20%2F%3E%3Cg%20id%3D%22Page-1%22%20style%3D%22fill%3Anone%3Bstroke%3Anone%22%3E%3Cg%20id%3D%22Artboard-1%22%20style%3D%22fill%3A%2329addd%22%3E%3Cpath%20d%3D%22m%2034.864907%2C56.030239%200%2C18.88388%2045%2C0%200%2C-100%20-18.539881%2C0%200%2C81.11612%20-26.460119%2C0%20z%20m%200%2C0%22%20transform%3D%22matrix(0.81915204%2C0.57357644%2C-0.57357644%2C0.81915204%2C16.748369%2C-11.174682)%22%20id%3D%22Rectangle-1%22%20%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
   display: block !important;
   margin: -5px 0 0 -8px !important;
   font-size: 24pt;
}
.isAndroid li.selected > .deletion-indicator::before {
   margin: -6px 0 0 -2px !important;
}
.isDesktopChrome li.selected > .deletion-indicator::before {
   margin: -7px 0 0 -2px !important;
}
.list.showIndicators .deletion-indicator {
   margin-left: 40px;
}

.list.showIndicators li {
   padding-left: 32px;
}
.button.delete {
   float: right;
   text-align: center;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   width: 100px;
   position: absolute;
   right: 0;
   top: 10px;
   display: -webkit-box;
   -webkit-box-align: center;
   -webkit-box-pack: center;
   display: -webkit-flex;
   -webkit-align-items: center;
   -webkit-justify-content: center;
   display: flex;
   align-items: center;
   justify-content: center;
   .transition;
   display: none;
   cursor: pointer;
   font-weight: 200;
   margin-right: 0 !important;
}
li.selected > .button.delete {
   display: block;
}
/* ==============================
   Buttons                       
   ============================== */
a.button {
   box-shadow: none; 
   border: none;
   border-top: solid 2px @buttonTopColor;
   background-color: @buttonBorderColor;
   color: @buttonTextColor;
   display: inline-block;
   padding: 5px 10px 2px 10px !important;
   font-size: 12px;
   height: 30px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
   -webkit-user-select: none;
   margin: 0px 10px;
   position: relative;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   box-shadow: 0 1px 2px @buttonBoxShadow;
   padding: 6px 10px;
}
a.button.no-border {
   border: none !important;
}
a.button.back,
a.button.backTo {
   text-align: left;
   padding: 0 0 0 20px;
   margin: 3px 5px 0 0;
   line-height: 28px;
   color: @appTint;
   font-size: 0;
   border: none;
   background: none !important;
   box-shadow: none;
}
.isChrome a.button.back,
.isChrome a.button.backTo {
   top: 6px;
}
a.button.back::before,
a.button.backTo::before {
   content: '';
   display: block;
   .size(10px, 10px);
   border-top: solid 2.5px @backButtonColor;
   border-left: solid 2.5px @backButtonColor;
   .transform(rotate(-45deg) skew(-10deg, -10deg));
   position: absolute;
   left: 6px;
   top: 8px;
   .transition;
}
.button.back, .button.backTo {
   margin-right: 30px !important;
}
.button.back::after, .button.backTo::after {
   position: absolute;
   top: 2px;
   right: -26px;
   content: '';
   display: block;
   height: 26px;
   width: 26px;
   /* user your own app icon for this: */
   background: transparent url(../images/icons/ChUI-Logo.png) no-repeat;
   background-size: 100% 100%;
}
body.isNativeAndroidBrowser a.button.back,
body.isNativeAndroidBrowser a.button.backTo {
   top: 0;
   bottom: 0;
}
body.isNativeAndroidBrowser a.button.back::before {
   top: 8px;
}
.button:hover,
.button.show-popover:hover,
.button.show-popover.selected,
.button.selected {
   cursor: pointer;
   background-color: @appTint !important;
   border-color: @appTint;
   color: @buttonTextColor;
   box-shadow: 0 0 3px 3px @buttonHoverColor;
}
.button.show-popover:hover::after,
.button.show-popover.selected::after {
   border-right: solid 6px @spinnerIndicatorColor;
   border-bottom: solid 6px @spinnerIndicatorColor;
}
.button.back:hover,
.button.backTo:hover {
   border: none;
   box-shadow: none;
   background-color: @appTint !important;
}
a.button.back:hover::before,
a.button.backTo:hover::before {
   border-top: solid 2.5px @backButtonHoverColor;
   border-left: solid 2.5px @backButtonHoverColor;
}

/* ==============================
   Switch
   ============================== */
.switch {
   display: inline-block;
   .size(24px, 70px);
   border: 1px solid @switchBorder;
   background-color: @switchBkgnd;
   display: -webkit-box;
   -webkit-box-orient: horizontal;
   -webkit-box-pack:justify;
   display: -webkit-flex;
   -webkit-flex-direction: row;
   -webkit-justify-content: space-around;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
   overflow: hidden;
   cursor: pointer;
   -webkit-user-select: none;
   -webkit-animation-duration: .65s;
   -webkit-animation-timing-function: ease-in-out;
   -webkit-animation-fill-mode: forwards;
   -webkit-animation-name: switchAnimationOff;
   user-select: none;
   animation-duration: .65s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
   animation-name: switchAnimationOff;
}
.switch:hover,
.switch.touched {
   box-shadow: 0 0 2px 2px @appTint;
}
.switch.on {
   border-color: @appTint;
}
.switch > em {
   display: block;
   position: relative;
   z-index: 30;
   top: -1px;
   border: solid 1px @switchThumbBorder;
   border-top: solid 3px @buttonTopColor;
   .size(22px, 30px);
   background-color: @switchThumbBkgnd;
   pointer-events: none;
    .transform(translate3d(-1px,0,0));
   .transition(all, .1s, ease-in-out);
}
.switch.on > em {
   .transform(translate3d(36px,0,0));
   background-color: @appTint;
   border: solid 1px @appTint;
   border-top: solid 3px @switchOnTop;
   border-left-color: @switchOnColor;
}
.switch > input {
   display: none;
}
.switch.on {
   border-color: @switchOnColor;
}
/* ==============================
   Segmented Control
   ============================== */
.segmented {
   display: -webkit-inline-box;
   -webkit-box-orient: horizontal;
   -webkit-box-pack:center;
   display: -webkit-inline-flex;
   -webkit-flex-direction: row;
   -webkit-justify-content: center;
   display: inline-flex;
   flex-direction: row;
   justify-content: center;
   box-sizing: border-box;
   margin: 0px 10px;
   .flex;
}
.segmented > .button {
   .flexBlockCentered;
   border: solid 1px @buttonBorderColor;
   text-align: center !important;
   border-left: none;
   border-right: solid 1px @tabbarColor;
   border-top: solid 3px @buttonTopColor;
   box-shadow: none;
   font-size: 13px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   height: 30px;
   cursor: pointer;
   margin: 0px !important;
   padding: 4px 10px 0px !important;
}
.segmented > .button:first-of-type {
   border-left: solid 1px @tabbarColor;
}
.segmented > .button:hover,
.segmented > .button.selected {
   background-color: @appTint;
   opacity: 1 !important;
   box-shadow: none;
   border-top: solid 3px #a1e4ff;
}
div.horizontal.centered > .segmented {
   display: -webkit-box;
   display: -webkit-flex;
   display: flex;
   margin: 10px 16px;
   width: 100%;
}
.segmented.align-flush{
   position: absolute;
   right: 15px;
   top: 4px;
} 
.button.align-flush {
   position: absolute;
   right: 15px;
   top: 8px;
}


/* ==============================
   Segmented Paging Control
   ============================== */
.segmented.paging > .button {
   display: -webkit-box;
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center;
   border: none;
   font-size: 20pt;
   color: @buttonTextColor;
   padding: 0;
   .size(40px, 40px);
   display: block;
   border: solid 1px transparent;
   background: none;
   box-shadow: none;
   position: relative;
   box-sizing: border-box;
}
.segmented.paging > .button:hover,
.segmented.paging > .button.touched {
   background-color: @buttonTextHoverColor;
}
.segmented.paging > .button::before {
   content: '';
   display: block;
   .size(35px,35px);
   position: absolute;
   top: 4px;
   left: 0;
   -webkit-mask-repeat: no-repeat;
   -webkit-mask-position: 50% 50%;
   background-color: @buttonTextColor;
}
.segmented.paging > .button:hover::before {
   background-color: #fff;
}
.segmented.paging.horizontal > .button:first-of-type::before {
   -webkit-mask-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20id%3D%22svg2%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%220%200%2048%2048%22%20enable-background%3D%22new%200%200%2048%2048%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%20id%3D%22g4%22%3E%3C%2Fg%3E%3Cg%20id%3D%22layer2%22%3E%3Cpath%20id%3D%22path7%22%20d%3D%22M28.038%2C8.381l2.674%2C2.599L18.545%2C23.146l12.086%2C12.086l-2.593%2C2.679L17.909%2C27.782l-4.636-4.636l4.636-4.636%20L28.038%2C8.381z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
   left: 4px;
}
.segmented.paging.horizontal > .button:last-of-type::before {
   -webkit-mask-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20id%3D%22svg2%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%220%200%2048%2048%22%20enable-background%3D%22new%200%200%2048%2048%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%20id%3D%22g4%22%3E%3C%2Fg%3E%3Cg%20id%3D%22layer2%22%3E%3Cpath%20id%3D%22path7%22%20d%3D%22M15.946%2C37.911l-2.674-2.599l12.167-12.167L13.354%2C11.06l2.593-2.679L26.075%2C18.51l4.636%2C4.636l-4.636%2C4.636L15.946%2C37.911z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
   left: 4px;
}
.segmented.paging.vertical > .button:first-of-type::before {
   -webkit-mask-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20id%3D%22svg2%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%220%200%2048%2048%22%20enable-background%3D%22new%200%200%2048%2048%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%20id%3D%22g4%22%3E%3C%2Fg%3E%3Cg%20id%3D%22layer2%22%3E%3Cpath%20id%3D%22path7%22%20d%3D%22M7.227%2C17.101l2.599-2.674l12.167%2C12.167l12.086-12.086l2.679%2C2.593L26.628%2C27.229l-4.636%2C4.636l-4.636-4.636%20L7.227%2C17.101z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
   left: 4px;
}
.segmented.paging.vertical > .button:last-of-type::before {
   -webkit-mask-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20id%3D%22svg2%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%220%200%2048%2048%22%20enable-background%3D%22new%200%200%2048%2048%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%20id%3D%22g4%22%3E%3C%2Fg%3E%3Cg%20id%3D%22layer2%22%3E%3Cpath%20id%3D%22path7%22%20d%3D%22M36.757%2C29.191l-2.599%2C2.674L21.992%2C19.698L9.905%2C31.784l-2.679-2.593l10.129-10.129l4.636-4.636l4.636%2C4.636%20L36.757%2C29.191z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
   left: 4px;
}

article.paging > section {
   position: absolute;
   width: 100%;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   opacity: 1;
   padding: 0 0 100px 0 !important;
   .transition(all, .15s);
}
article.paging.horizontal > section.previous {
   .transform(translate3d(-100%,0,0));
}
article.paging.horizontal > section.current {
   .transform(translate3d(0,0,0));
}
article.paging.horizontal > section.next {
   .transform(translate3d(100%,0,0));
}
article.paging.vertical > section.previous {
   .transform(translate3d(0,-100%,0));
}
article.paging.vertical > section.current {
   .transform(translate3d(0,0,0));
}
article.paging.vertical > section.next {
   .transform(translate3d(0,-100%,0));
}

/* ==============================
   Range Control
   ============================== */
input[type="range"] {
   -webkit-appearance: none !important;  
   outline: none;
   display: block;
   margin-top: 20px;
   margin-bottom: 20px;
   .size(2px, auto);
   border-radius: 2px;
   background: @rangeBkgnd;
   padding: 0;
}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   display: block;
   .size(30px, 30px);
   border-radius: 20px;   
   margin: 0;
   background-color: transparent;
   background-image: 
      -webkit-radial-gradient(darken(@appTint,16%) 4px, rgba(red(darken(@appTint, 8%)), green(darken(@appTint, 8%)), blue(darken(@appTint, 8%)),.8) 4px);
   border: solid 1px darken(@appTint,16%);
}
input[type="range"]:focus::-webkit-slider-thumb, input[type="range"]::-webkit-slider-thumb:hover {
   background-image:
   -webkit-radial-gradient(darken(@appTint,16%) 4px, rgba(red(@appTint),green(@appTint),blue(@appTint),.5) 4px);
}

/* ==============================
   Stepper Control
   ============================== */ 
.stepper {
   display: -webkit-inline-box;
   -webkit-box-orient: horizontal;
   -webkit-box-pack: center;
   -webkit-box-align: start;
   display: -webkit-inline-flex;
   -webkit-flex-direction: row;
   -webkit-justify-content: center;
   -webkit-align-items: flex-start;
   display: inline-flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   padding: 1px;
}
stepper > input {
   margin: 0;
   display: none;
}
.stepper > label {
   display: block;
   -webkit-box-sizing: border-box;
   border: solid 1px @buttonBorderColor;
   .size(30px, 40px);
   font: bold 16px/30px Helvetica;
   text-align: center;
   background-color: @stepperLabelBkgnd;
}
.stepper > .button {
   display: inline-box;
   text-align: center;
   font-weight: bold;
   font-size: 20pt;
   cursor: pointer !important;
   margin: 0;
   box-shadow: none;
   border: solid 1px @buttonBorderColor;
   border-top: solid 3px @buttonTopColor;
   padding: 1px 10px !important;
}
.stepper > .button:hover {
   border-top: solid 3px #a1e4ff;
}
.stepper > .button:first-of-type {
   border-right: none;
}
.stepper > .button:last-of-type {
   border-left: none;
}
.stepper > input {
   display: none;
}

/* ==============================
   Busy Control
   ============================== */ 
@-webkit-keyframes activityIndicatorAnimLeft {
   0% { .transform(rotate(0deg)); }
   100% { .transform(rotate(360deg)); }
}   

@-webkit-keyframes activityIndicatorAnimRight {
   0% { .transform(rotate(0deg)); }
   100% { .transform(rotate(-360deg)); }
}
@-webkit-keyframes activityIndicatorAnimLeft {
   0% { .transform(rotate(0deg)); }
   100% { .transform(rotate(360deg)); }
}   

@-webkit-keyframes activityIndicatorAnimRight {
   0% { .transform(rotate(0deg)); }
   100% { .transform(rotate(-360deg)); }
}
.busy {
   position: relative;
   display: block;
   margin-left: auto;
   margin-right: auto;
   .size(20px, 20px);
   background-size: 100% 100%;
}
.busy > div:first-child, .busy > div + div {
   .size(100%, 100%);
   position: absolute;
   top: 0;
   left: 0;
   background-size: 100%;
   background-repeat:no-repeat;
   background-position:center;
   
}
.busy > div:first-child {
   background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3Asvg%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20version%3D%271.1%27%20%20x%3D%270px%27%20y%3D%270px%27%20width%3D%27400px%27%20height%3D%27400px%27%20viewBox%3D%270%200%20400%20400%27%20enable-background%3D%27new%200%200%20400%20400%27%20xml%3Aspace%3D%27preserve%27%3E%3Cg%20id%3D%27left%27%3E%3ClinearGradient%20id%3D%27SVGID_1_%27%20gradientUnits%3D%27userSpaceOnUse%27%20x1%3D%2715%27%20y1%3D%27-68%27%20x2%3D%27383%27%20y2%3D%27-68%27%20gradientTransform%3D%27matrix(-1%200%200%20-1%20398%20224)%27%3E%3Cstop%20offset%3D%270%27%20style%3D%27stop-color%3A%231D1D1B%27%2F%3E%3Cstop%20offset%3D%271%27%20style%3D%27stop-color%3A%23FFFFFF%27%2F%3E%3C%2FlinearGradient%3E%3Cpath%20fill%3D%27url(%23SVGID_1_)%27%20d%3D%27M199%2C384C97.542%2C384%2C15%2C301.458%2C15%2C200h20c0%2C90.43%2C73.57%2C164%2C164%2C164s164-73.57%2C164-164h20%20C383%2C301.458%2C300.458%2C384%2C199%2C384z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
   -webkit-animation: activityIndicatorAnimLeft 2s infinite linear;
}
.busy > div + div {
   background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3Asvg%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20version%3D%271.1%27%20x%3D%270px%27%20y%3D%270px%27%20width%3D%27400px%27%20height%3D%27400px%27%20viewBox%3D%270%200%20400%20400%27%20enable-background%3D%27new%200%200%20400%20400%27%20xml%3Aspace%3D%27preserve%27%3E%3Cg%20id%3D%27right%27%3E%3ClinearGradient%20id%3D%27SVGID_2_%27%20gradientUnits%3D%27userSpaceOnUse%27%20x1%3D%2715%27%20y1%3D%27108%27%20x2%3D%27383%27%20y2%3D%27108%27%20gradientTransform%3D%27matrix(-1%200%200%201%20398%200)%27%3E%3Cstop%20offset%3D%270%27%20style%3D%27stop-color%3A%231D1D1B%27%2F%3E%3Cstop%20offset%3D%271%27%20style%3D%27stop-color%3A%23FFFFFF%27%2F%3E%3C%2FlinearGradient%3E%3Cpath%20fill%3D%27url(%23SVGID_2_)%27%20d%3D%27M383%2C200h-20c0-90.43-73.57-164-164-164S35%2C109.57%2C35%2C200H15C15%2C98.542%2C97.542%2C16%2C199%2C16%20S383%2C98.542%2C383%2C200z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
   -webkit-animation: activityIndicatorAnimRight 5.5s infinite linear;
}
.busy.align-flush {
   position: absolute;
   right: 15px;
}

/* ==============================
   Popup Control
   ============================== */
.popup {
   display: block;
   -webkit-box-sizeing: border-box;
   width: 320px;
   padding: 0px;
   background-color: @popupBkgnd;
   position: absolute;
   z-index: 10000;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 0 0 6px 4px @popoverHighlight;
}
.popup.opened {
   display: block;
   opacity: 1;
   .transition(all, 0.5s, ease-in-out);
}
.popup > .panel {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-box-pack: center;
   -webkit-box-align: center;
}
.popup header,
.popup footer {
   display: -webkit-box;
   -webkit-box-align: stretch;
   -webkit-box-pack: justify;
}
.popup header > h1 {
   position: static;
   text-align: center;
   margin: 0 15px;
   line-height: 32pt;
   font-weight: bold;
}
.popup > .panel > p {
   padding: 0 15px;
   text-align: center;
}
.popup > .panel .button {
   border-top: solid 1px @buttonBorderColor;
}
.popup footer {
   width: 320px;
   padding: 0;
}
.popup footer > .button {
   display: block !important;
   .flex;
   box-sizing: border-box;
   height: 100%;
   line-height: 30pt;
   background-color: @popupBkgnd;
   color: @buttonTextColor;
   font-size: 12pt;
   padding-top: 4px;
   max-width: 320px !important;
   font-weight: bold;
   margin: 0 !important;
}
.popup footer > .button:hover {
   box-shadow: none;
   background-color: @popoverHighlight;
}
.popup footer .button + .button {
   border-left: solid 1px @buttonBorderColor;
}

/* ==============================
   Popover Control
   ============================== */
.popover {
    width: 300px;
    background-color: @popoverBkgnd;
    box-shadow: 0 0 5px @popoverShadow;
    border-radius: 4px;
    height: 250px;
    max-height: 300px;
    position: absolute;
    z-index: 111111;
    margin-top: 10px;
}
.popover header {
   display: none;
}
.popover > section {
   .overflowYScroll;
   -webkit-overflow-scrolling: touch;
   padding-bottom: 0;
   position: absolute;
   top: 4px;
   bottom: 4px;
   width: 100%;
   padding-bottom: 20px;
}
.button.show-popover {
   position: relative;
   background-color: transparent !important;
   border: none;
   padding: 6px 22px 2px 10px !important;
   margin: 0 10px 0 !important;
   box-shadow: none !important;
   font-size: 18px !important;
}
.button.show-popover.selected {
   background-color: @appTint;
}
.segmented > a.button.show-popover:first-of-type {
   border-left: none !important;
}
.button.show-popover.align-flush {
   position: absolute;
}
.button.show-popover::after {
   content: '';
   display: block;
   position: absolute;
   right: 2px;
   bottom: 2px;
   .size(0px, 0px);
   border-right: solid 6px #ccc;
   border-bottom: solid 6px #ccc;
   border-top: solid 6px transparent;
   border-left: solid 6px transparent;
}
nav > .button.show-popover::after {
   border-right: solid 6px @tabbarButtonBorder;
   border-bottom: solid 6px @tabbarButtonBorder;
}
.popover .list > li:hover,
.popover .list > li.selected {
   background-color: @appTint !important;
}
/* ==============================
   Mask Control
   ============================== */
.mask {
   display: block;
   background-color: @maskColor;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   .size(100%, 100%);
   z-index: 9999;
   cursor: pointer;
}

/* ==============================
   Split Layout Styles
   ============================== */
body.splitlayout {   
   /* Old syntax */
   display: -webkit-box;
   -webkit-box-orient: horizontal;
   -webkit-box-pack: start;
   -webkit-box-align: stretch;
   /* New syntax */
   display: -webkit-flex;
   -webkit-flex-direction: row;
   -webkit-justify-content: flex-start;
   -webkit-align-items: stretch;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: stretch;
}
.splitlayout > nav {
   background-color: @navBkgnd;
   border-bottom: solid 1px @spitlayoutNavBorder;
}
.splitlayout > nav h1 {
   z-index: auto;
   text-align: center;
}
.splitlayout > nav:first-of-type {
   width: 320px;
   border-right: solid 1px @splitlayoutBorders !important;
}
.splitlayout > nav:last-of-type {
   left: 320px;
}
.splitlayout > article.master {
   top: 50px;
   left: 0;
   bottom: 0;
   right: 320px;
   box-sizing: border-box;
   width: 320px;
   border-right: solid 1px @splitlayoutBorders !important;
}
.splitlayout > article.detail {
   top: 50px;
   left: 320px !important;
   bottom: 0;
   left: 0;
   .flex;
}
.master .list > li.selected {
   background-color: @masterListSelected;
}
@media only screen and (max-device-width : 320px) and (orientation : portrait) {
   .splitlayout > article.master {
      right: 260px !important;
   }
   .splitlayout > article.detail {
      left: 260px !important;
   }
   .splitlayout > nav:first-of-type {
      width: 260px !important;
   }
   .splitlayout > nav:last-of-type {
      left: 260px !important;
   }
}

/* ==============================
   Tab Bar
   ============================== */

.tabbar {
   /* Old syntax */
   display: -webkit-box;
   -webkit-box-orient: horizontal;
   -webkit-box-align: center;
   box-sizing: border-box;
   height: 30px;
   position: absolute;
   left: 0;
   top: 47px;
   right: 0;
   border-top: solid 1px @tabbarColor;
   background-color: @tabbarColor;
}
body.hasTabBar article {
   top: 77px !important;
}
.tabbar > .button {
   color: @buttonTextHoverColor;
   background-color: @tabbarColor !important;
   position: relative;
   display: block !important;
   .flex;
   margin: 0;
   height: 100%;
   text-align: center;
   line-height: 17px;
   padding: 4px 10px;
   border: none;
   border-bottom: solid 4px @tabbarColor;
   border-right: solid 1px @tabbarButtonBorder;
   box-shadow: none;
}

.tabbar > .button:last-of-type {
   border-right: none;
}
.tabbar > .button:hover,
.tabbar > .button.selected {
   opacity: 1 !important;
   border-bottom: solid 4px darken(@appTint,20%);
}
.tabbar > .button:hover,
.tabbar > .button.touched {
   background-color: desaturate(darken(@appTint,25%), 35%) !important;
}
.tabbar > .button > span {
   display: block;
   .flex;
}
.tabbar > .button > .icon {
   display: none;
}
.tabbar > .button.more {
   font-size: 0;
   border-left: solid 1px @tabbarButtonBorder;
   .flexBlockCentered;
}
.hasTabBar .previous:not(.navigable),
.hasTabBar .next:not(.navigable) {
   display: none;
   -webkiit-transform: none;
}
.tabbar > .button.more::before {
   content: '';
   display: block;
   height: 30px;
   .imageMask (#fff, 'data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%220%200%2048%2048%22%20enable-background%3D%22new%200%200%2048%2048%22%20xml%3Aspace%3D%22preserve%22%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2223%22%20r%3D%225.172%22%2F%3E%3Ccircle%20cx%3D%2224%22%20cy%3D%2223%22%20r%3D%225.172%22%2F%3E%3Ccircle%20cx%3D%2238%22%20cy%3D%2223%22%20r%3D%225.172%22%2F%3E%3C%2Fsvg%3E');
   -webkit-mask-position: center -5px !important;
}

/* ==============================
   Sheet Control
   ============================== */
.sheet {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: @sheetBkgnd;
   .transition(all, .25s, ease-in);
   .transform(translate3d(0,-100%,0));
   display: none;
}
.sheet.opened {
   .transform(translate3d(0,0,0));
}
.sheet > section.scroller-vertical {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   height: auto;
   right: 0;
   padding: 0 !important;
}
.sheet.opened > section.scroller-vertical {
   top: 36px;
   padding: 10px 0 100px 0 !important;
}
.sheet .button {
   display: block;
   margin: 0 auto;
   padding: 10px 20px !important;
   .size(auto, auto);
}
.sheet > section > .list {
   border: none;
}
.sheet > section > .list,
.sheet > section > .list > li {
   background-color: transparent !important;
}
.sheet > section > .list > li {
   border-bottom: solid 1px @listBorderColor;
}
.sheet > section > .list > li::before {
   content: none;
}
div.handle {
   display: block;
   text-align: center;
   margin: 0 auto;
   background-color: @sheetHandle;
   cursor: pointer;
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
   height: 29pt;
   .imageMask(@sheetHandle, 'data:image/svg+xml;utf8,%3Csvg%20width%3D%22100px%22%20height%3D%22100px%22%20viewBox%3D%220%200%20100%20100%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%3Cg%20id%3D%22Artboard-1%22%20sketch%3Atype%3D%22MSArtboardGroup%22%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M51%2C39.1317773%20L9.17415422%2C64.2632809%20L4.53881154%2C56.5487752%20L50.8258458%2C28.7367191%20L51%2C29.0265604%20L51.1741542%2C28.7367191%20L97.4611885%2C56.5487752%20L92.8258458%2C64.2632809%20L51%2C39.1317773%20Z%22%20id%3D%22Rectangle-2%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
   margin: 10px auto 0;
}
div.handle:hover {
   background-color: @appTint;
}

/* ==============================
   Icon Styles
   ============================== */
/*
   Put a class or id on each icon.
   The use a png or svg image as 
   a background image. Apply a
   background color too.
   See page article of demo
   paging control for example.
*/
.icon {
   .size(40px, 40px);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: auto 70%;
   border-radius: 50%;
}
/* ==============================
   Toolbar Styles
   ============================== */
.toolbar  {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   height: 50px;
   padding: 0 15px;
   overflow: hidden;
   box-sizing: border-box;
   .flexBlockHorizontalCentered;
   display: -webkit-box !important;
   .transition(all, .15s);
   .transform(translate3d(0,0,0));
   padding: 0 16px;
   vertical-align: middle;
   background-color: @navBkgnd;
   overflow: hidden;
   border-top: solid 1px @navBorderColor;
}
.splitlayout > .master + .toolbar {
   left: 0;
   width: 320px;
   border-right: solid 1px @splitlayoutBorders !important;
}
.splitlayout > .detail + .toolbar {
   left: 320px;
}
article.has-toolbar {
   bottom: 50px !important;
}
div.toolbar.current {
   .transform(translate3d(0,0,0)) !important;
}
div.toolbar.next {
   .transform(translate3d(101%,0,0)) !important;
}
div.toolbar.previous {
   .transform(translate3d(-101%,0,0)) !important;
}

/* ==============================
   Form Styles
   ============================== */
input[type=text], input[type=email], input[type=password], input[type=text], input[type=url], input[type=number], textarea {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  background-image: 
    -webkit-linear-gradient(left, @inputBorderColor, @inputBorderColor),
    -webkit-linear-gradient(left, @inputBorderColor, @inputBorderColor),
    -webkit-linear-gradient(left, @inputBorderColor, @inputBorderColor);
  background-image: 
    linear-gradient(left, @inputBorderColor, @inputBorderColor),
    linear-gradient(left, @inputBorderColor, @inputBorderColor),
    linear-gradient(left, @inputBorderColor, @inputBorderColor);
  background-size: 1px 4px, 1px 4px, 100% 1px;
  background-position: bottom left, bottom right, bottom left;
  background-repeat: no-repeat;
  margin:  0;
  padding-left: 5px;
  color: @inputBorderColor;
}

input:focus, textarea:focus {
  outline: none !important;
    background-image: 
    -webkit-linear-gradient(left, @appTint, @appTint),
    -webkit-linear-gradient(left, @appTint, @appTint),
    -webkit-linear-gradient(left, @appTint, @appTint);
  background-image: 
    linear-gradient(left, @appTint, @appTint),
    linear-gradient(left, @appTint, @appTint),
    linear-gradient(left, @appTint, @appTint);
}